<%- include('partials/header') -%>

    <body class="dark-mode">
        <div class="container login-container">
                <header class="center">
                    <nav class="grey darken-3">
                        <ul>
                          <li><a href="/">Home</a></li>
                            <li><a href="/login" class="login">Log in</a></li>
                            <li><a href="/signup" class="singup">Sign up</a></li>
                        </ul>
                      </nav>
                    <h1 class="hide">Movie Rank</h1>
                    <div class="logos">
                        
                    </div>
                </header>
                    <div class="card center">
                        <div class="card-content">
                            <img class="mainLogo" src="logo.png" alt="Movie Rank logo" >
                            <section class="section">
                                <h5> <p class="lead">Help Rank your favorite movies and create a collection of your personal favorites</p></h5>
                            </section>
                            <div class="divider"></div>
                            <section class="section ">
                                <a href="/auth/google" class="btn red darken-1">
                                    <i class="fa-brands fa-google left"></i>Login with Google
                                </a>
                            </section>
                            <section class="section ">
                                <a href="/login" class="btn blue darken-1">
                                    <i class="fas fa-envelope left"></i>Login with Email
                                </a>
                            </section>
                            <section class="section ">
                                <a href="signup" class="btn blue darken-4">
                                    <i class="fas fa-envelope left"></i>Sign Up
                                </a>
                            </section>
            
                        </div>
                    </div>
            
                </div>
                <style>
                    footer{
        margin-top: 25px;
        padding: 25px 0 ;
        width:100%;
        text-align: center;
    }
    footer a{
        margin-right: 1em;
    }
    footer{
        color:#333 !important ;
    }
    #footer a{
        border-bottom: #333 dotted 1px;
        font-size: 1.05em;
        color:#333 !important ;
    
    
    }
    #footer a:hover{
        border-bottom: #333 solid 1px;
        font-size: 1.07em;
    }
                </style>
    <%- include('partials/footer') -%>
