<%- include('partials/login-header') -%>
        <div class="w-full">

            <div class="flex bg-white h-screen">
                <div class="flex items-center text-center lg:text-left px-8 md:px-12 lg:w-1/2">
                    <div>
                        <h2 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-5xl md:text-6xl">Mindful <span class="text-blue-600 text-4xl font-bold tracking-tight sm:text-5xl md:text-6xl">Math</span></h2>
                        <p class="mt-3 text-base text-gray-900 sm:mx-auto sm:mt-5 sm:max-w-xl sm:text-lg md:mt-5 md:text-xl lg:mx-0">Mindful Math is an online study aid that allows you to keep track of all your assignments, class notes, create and study flashcards, and gain access to resources from all over the web. Mindful Math will help you organize your academic life, ensuring that you never miss a piece of homework, or forget a lesson.</p>
                        <div class="mt-5 sm:mt-8 sm:flex sm:justify-center lg:justify-start">
                            <div class="rounded-md shadow">
                              <a href="/login" class="flex w-full items-center justify-center rounded-md border border-transparent bg-blue-600 px-8 py-3 text-base font-medium text-white hover:bg-blue-700 md:py-4 md:px-10 md:text-lg">Log In</a>
                            </div>
                            <div class="mt-3 sm:mt-0 sm:ml-3">
                              <a href="/signup" class="flex w-full items-center justify-center rounded-md border border-transparent bg-gray-500 px-8 py-3 text-base font-medium text-white hover:bg-gray-600 md:py-4 md:px-10 md:text-lg">Sign Up</a>
                            </div>
                          </div>
                    </div>
                </div>
                <div class=" lg:block lg:w-1/2" style="clip-path:polygon(10% 0, 100% 0%, 100% 100%, 0 100%)">
                    <div class="h-full object-cover" style="background: url('/images/40274.jpg') no-repeat">
                        <div class="h-full bg-blue-500 opacity-10"></div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>