<%- include('partials/main-header') -%>
<div class="flex items-center justify-center p-12">
  <div class="mx-auto w-full max-w-[550px]">
    <form action="/notes/createnote" enctype="multipart/form-data" method='POST'  class="modalForm">
      <div class="mb-5">
        <label
          for="title"
          class="mb-3 block text-black text-gray-800 dark:text-white"
        >
          Title
        </label>
        <input
          type="text"
          name="title"
          id="name"
          class="w-full rounded-md border border-blue-500 bg-white py-3 px-6 text-black font-medium outline-none focus:border-[#6A64F1] focus:shadow-md "
        />
      </div>
      <div class="mb-5">
        <label
          for="topic"
          class="mb-3 block text-black text-gray-800 dark:text-white"
        >
          Topic
        </label>
        <input
          type="text"
          name="topic"
          id="noteTopic"
          class="w-full rounded-md border border-blue-500 bg-white py-3 px-6 text-black font-medium outline-none focus:border-[#6A64F1] focus:shadow-md "
        />
      </div>
      <div class="mb-5">
        <label
          for="content"
          class="mb-3 block text-black text-gray-800 dark:text-white"
        >
          Content
        </label>
        <textarea
          rows="4"
          name="content"
          id="content"
          placeholder="Type your message"
          class="w-full resize-none rounded-md border border-blue-500 bg-gray-100 py-3 px-6 text-black text-black outline-none focus:border-[#6A64F1] focus:shadow-md "
        ></textarea>
      </div>
      <div class="mb-5">
        <label
          for="file"
          class="mb-3 block text-black text-gray-800 dark:text-white"
        >
          Upload Image?
        </label>
        <input
          type="file"
          name="file"
          class="py-3 px-3 text-base font-medium text-black "
        />
      </div>
      <div>
        <button
        type="submit"
          class="hover:shadow-form rounded-md bg-blue-500 py-3 px-8 text-base font-semibold text-white outline-none"
        >
          Submit
        </button>
        <a
        href="/notes"
          class="hover:shadow-form rounded-md bg-gray-400 py-3 px-8 text-base font-semibold text-white outline-none"
        >
          Cancel
      </a>
      </div>

    </form>
  </div>
</div>
<script>
    document.querySelector('#cancel').addEventListener('click',()=>{

  if(confirm("Sure you want to cancel?")){
    window.location.href = '/notes';
  }else return ""

})
</script>
<script src="https://cdn.ckeditor.com/ckeditor5/35.1.0/classic/ckeditor.js"></script>
<script>
  ClassicEditor
      .create( document.querySelector( '#content' ),{})
      .catch( error => {
          console.error( error );
      } );
</script>
<style>
  .ck.ck-editor__main>.ck-editor__editable {
    color:black !important;
  }
      </style>
<%- include('partials/main-footer') -%>