<%- include('partials/main-header') -%>
<div class="container mx-auto">
    <div class="flex flex-row flex-wrap py-4">
       
        <main role="main" class="w-full sm:w-2/3 md:w-3/4 pt-1 px-2">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa at qui fugiat consectetur enim! Amet accusantium perferendis, quibusdam cupiditate blanditiis eligendi saepe necessitatibus aperiam dignissimos animi at? Eligendi, ducimus harum maiores earum consequatur nesciunt, laborum deleniti repellendus, error rerum nostrum dolores culpa. Magni soluta esse veritatis nostrum ipsa sint molestias quod sed quae at aut ipsam error labore quibusdam hic unde facere voluptates consequuntur aperiam earum, expedita est architecto laudantium. Incidunt at nulla illum provident ipsam perferendis tempora, itaque ducimus fugit velit consectetur beatae aut nihil officiis libero fuga consequatur modi ea vero, vitae impedit. Minima accusamus possimus molestias sit.
        </main>
    </div>
</div>

<%- include('partials/main-footer') -%>